h1 { 
 color: green; 
 text-align: center;
}

body { 
    font-family: helvetica, arial, sans-serif; 
}

#left-container { 
    background-color: #f0f8ff; 
    width: 15%; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    height: 100%; 
    padding: 10px; 
}
#right-container { 
    background-color: #eee; 
    width: 15%; 
    right: 0px; 
    top: 0px; 
    position: absolute; 
    height: 100%; 
    padding: 10px; 
}

#left-container { 
left: 0px;
}
#right-container { 
right: 0px;
}
.container { 
background-color: #eee; 
width: 15%; 
top: 0px; 
position: absolute; 
height: 100%; 
padding: 10px;
}

.plant-holder { 
    position: relative; 
    height: 13%; 
    left: -10px; 
}
.plant { 
    position: absolute; 
    width: 100px;
    height: auto; 

     z-index: 2; 
    cursor: grab;
}

.jar-walls { 
    height: 80%; 
    width: 60%; 
    background: #d1e1df; 
    border-radius: 1rem; 
    position: absolute; 
    bottom: 0.5%; 
    left: 20%; 
    opacity: 0.5; 
    z-index: 1; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.jar-top { 
    width: 50%; 
    height: 5%; 
    background: #d1e1df; 
    position: absolute; 
    bottom: 80.5%; 
    left: 25%; 
    opacity: 0.7; 
    z-index: 1; 
}


.jar-bottom { 
    width: 50%; 
    height: 1%; 
    background: #d1e1df; 
    position: absolute; 
    bottom: 0%; 
    left: 25%; 
    opacity: 0.7; 
}
.dirt { 
    width: 60%; 
    height: 5%; 
    background: #3a241d; 
    position: absolute; 
    border-radius: 0 0 1rem 1rem; 
    bottom: 1%; 
    left: 20%; 
    opacity: 0.7; 
    z-index: -1; 
}
.jar-glossy-long {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3); 
  width: 30px; 
  height: 250px; 
  border-radius: 10px;  
  top: 15%; 
  left: 30%;
  z-index: 2; 
}

.jar-glossy-short {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.25); 
  width: 30px; 
  height: 200px; 
  border-radius: 15px; 
  top: 60%;
  left: 35%;
  z-index: 2; 
}


@media (max-width: 768px) {
  #left-container, #right-container {
    position: relative;  
    width: 100%;        
    height: auto;
    } 
    #page {
    margin-left: 0;
    margin-right: 0;
  }
}

#page {
  margin-left: 17%;
  margin-right: 17%;
}
